<form method="POST" action="/checkout">
  <label for="item">Which item would you like to purchase?</label>
  <br>
  <input type="text" id="item" name="item">
  <br>
  <button type="submit" id="submit">Submit</button>
</form>